*,
*::before,
*::after {
 box-sizing:border-box
}
*,
body {
 -webkit-overflow-scrolling:touch;
 font-family:'Roboto', sans-serif !important;
 font-weight:normal;
 font-style:normal
}
html {
 -webkit-text-size-adjust:100%;
 -ms-text-size-adjust:100%;
 -ms-overflow-style:scrollbar;
 -webkit-tap-highlight-color:rgba(0,0,0,0)
}
@-ms-viewport {
 width:device-width
}
article,
footer,
header,
nav,
section {
 display:block
}
body {
 margin:0;
 font-size:16px;
 font-weight:normal;
 line-height:26px;
 letter-spacing:normal;
 color:#51565e;
 text-align:left;
 background-color:#fff
}
[tabindex="-1"]:focus {
 outline:0 !important
}
hr {
 box-sizing:content-box;
 height:0;
 overflow:visible
}
h1,
h2,
h3,
h4,
h5,
h6 {
 margin-top:0;
 margin-bottom:0
}
p {
 margin-top:0;
 margin-bottom:0
}
ol,
ul,
dl {
 margin-top:0;
 margin-bottom:1rem;
 padding:0;
 list-style:none
}
ol ol,
ul ul,
ol ul,
ul ol {
 margin-bottom:0
}
b,
strong {
 font-weight:500
}
small {
 font-size:80%
}
sub,
sup {
 position:relative;
 font-size:75%;
 line-height:0;
 vertical-align:baseline
}
sub {
 bottom:-.25em
}
sup {
 top:-.5em
}
img {
 vertical-align:middle;
 border-style:none
}
label {
 display:inline-block;
 margin-bottom:.5rem
}
textarea {
 overflow:auto;
 resize:vertical
}
[hidden],
.hide {
 display:none !important
}
.container:after,
.container:before {
 content:" ";
 display:table
}
a {
 text-decoration:none
}
.p-t-b-80 {
 padding-top:80px;
 padding-bottom:80px
}
h2 {
 font-size:18px;
 font-weight:500;
 line-height:28px;
 letter-spacing:normal;
 color:#272c37
}
.caret {
 display:inline-block;
 width:0;
 height:0;
 margin-left:6px;
 vertical-align:middle;
 border-top:5px dashed #fff;
 border-top:5px solid #fff \9;
 border-right:5px solid transparent;
 border-left:5px solid transparent
}
input:focus,
textarea:focus,
select:focus {
 outline-offset:-2px
}
:focus {
 outline:-webkit-focus-ring-color auto 5px
}
.btn,
input,
select,
textarea {
 outline:0;
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none
}
button.btn {
 box-shadow:none;
 border:0;
 cursor:pointer
}
.border-btn {
 cursor:pointer
}
button,
input,
optgroup,
select,
textarea {
 font:inherit;
 margin:0
}
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"] {
 padding:1px 0px
}
input {
 -webkit-appearance:textfield;
 background-color:white;
 -webkit-rtl-ordering:logical;
 cursor:text;
 padding:1px;
 border-width:2px;
 border-style:inset;
 border-color:initial;
 border-image:initial
}
input,
textarea,
select,
button {
 text-rendering:auto;
 color:initial;
 letter-spacing:normal;
 word-spacing:normal;
 text-transform:none;
 text-indent:0px;
 text-shadow:none;
 display:inline-block;
 text-align:start;
 margin:0em
}
input,
textarea,
select,
button,
meter,
progress {
 -webkit-writing-mode:horizontal-tb
}
.visible-hidden {
 visibility:hidden
}
.query_success {
 position:absolute;
 top:0;
 bottom:0;
 background:#fff;
 left:0;
 right:0;
 z-index:22222;
 border-radius:4px
}
.query_success::before {
 display:inline-block;
 vertical-align:middle;
 content:"";
 width:0px;
 height:100%
}
.query_success p {
 display:inline-block;
 vertical-align:middle;
 text-align:center;
 width:calc(100% - 4px);
 padding:0 15px
}
.query_success p::before {
 width:60px;
 height:61px;
 content:"";
 display:block;
 background:url("https://www.simplilearn.com/ice9/assets/frs-sprite_4.svgz") no-repeat;
 background-position:-219px -152px;
 margin:0 auto 42px auto
}
.query_success p b {
 color:#272c37;
 font-size:22px;
 display:block;
 font-weight:500;
 margin-bottom:20px
}
.query_success p span {
 font-size:14px;
 display:block;
 font-weight:400;
 color:#51565e
}
.error-message p:before {
 background-position:-289px -152px
}
@media (min-width: 768px) {
 .p-t-b-80 {
  padding-top:88px;
  padding-bottom:88px
 }
 h2 {
  font-size:24px;
  line-height:34px
 }
 .query_success p::before {
  width:71px;
  height:73px;
  background-position:-145px -120px
 }
}
@media (max-width: 767px) {
 .hidden-mobile {
  display:block
 }
}
.ipod-browser {
 width:100%;
 height:100%;
 position:fixed;
 overflow:hidden
}
.lazy,
.lazy::before,
.lazy::after,
.lazy a,
.lazy a::before,
.lazy a::after,
.lazy div,
.lazy div::before,
.lazy div::after {
 background-image:none !important
}
