
@media (max-width: 767px) {
    header {
     display:block;
     float:none;
     height:55px
    }
   }
   @media (min-width: 992px) and (max-width: 1199px) {
    header .search_topbar {
     width:324px
    }
   }
   .footer_date {
    font-size:5px;
    text-align:center;
    color:rgba(255,255,255,0.5);
    margin-bottom:35px
   }
   footer {
    background:#1A1A1A;
    width:100%;
    color:#fff
   }
   footer .brand-courses {
    display:inline-block;
    width:100%;
    border-top:1px solid #969696;
    margin-top:48px;
    margin-bottom:56px !important;
    color:#969696;
    letter-spacing:.02em
   }
   footer .brand-courses p {
    color:#fff;
    font-size:16px;
    font-weight:400;
    margin-top:48px;
    margin-bottom:16px
   }
   footer .brand-courses a {
    color:#969696;
    font-size:14px;
    display:inline !important;
    margin:0 4px
   }
   footer .brand-courses p+a {
    margin-left:0
   }
   footer .follow-us {
    margin-bottom:11px;
    font-size:16px;
    color:#fff;
    font-weight:400
   }
   footer a {
    color:rgba(255,255,255,0.5);
    font-size:14px;
    line-height:20px;
    padding-bottom:10px;
    display:block
   }
   footer .col-md-2 {
    padding:0 15px
   }
   footer .foot_company,
   footer .footer_workus {
    width:50%;
    float:left
   }
   footer .footer_discover {
    display:inline-block;
    width:100%;
    padding-bottom:20px
   }
   footer .footer_discover div {
    width:50%;
    float:left
   }
   footer .footer_discover div:last-child {
    padding-left:15px
   }
   .mobile-footer {
    background:#000;
    text-align:center;
    padding:10px 0;
    cursor:pointer;
    display:none
   }
   .mobile-footer p {
    margin-bottom:2px
   }
   .mobile-footer p:after {
    content:"";
    display:inline-block;
    width:24px;
    height:24px;
    background:url(https://www.simplilearn.com/static/frontend/images/home-page_sprite_v7.png) no-repeat -392px -231px;
    margin-left:25px;
    position:relative;
    margin-bottom:-8px
   }
   #footerdiv{
       background-color: #000;
   }
   .footer-container {
    padding-top:60px;
    padding-bottom:15px;
    background-color: #000;
   }
   footer .foot-socials {
    text-align:center;
    padding-bottom:40px;
    background-color: #000;
   }
   footer .foot-socials a.refer-earn {
    color:#ccc;
    font-size:14px;
    font-weight:500;
    width:120px;
    display:block;
    margin:0 auto 20px;
    line-height:36px;
    border:1px solid #777;
    border-radius:5px;
    padding:0
   }
   footer .foot-socials a.refer-earn:hover {
    background:#000
   }
   footer .foot-socials a.share {
    margin:0 6px 4px 0;
    display:inline-block;
    height:33px;
    width:33px;
    vertical-align:top;
    background:#353535 url(https://www.simplilearn.com/ice9/assets/footer_sprite.svgz) no-repeat;
    border-radius:50%
   }
   footer .foot-socials a.lazy {
    background-image:none !important
   }
   footer .foot-socials a.facebook {
    background-position:-8px -52px
   }
   footer .foot-socials a.facebook:hover {
    background-color:#4C67A1
   }
   footer .foot-socials a.twitter {
    background-position:-76px -50px
   }
   footer .foot-socials a.twitter:hover {
    background-color:#55ACEE
   }
   footer .foot-socials a.youtube {
    background-position:-115px -50px
   }
   footer .foot-socials a.youtube:hover {
    background-color:#DE2925
   }
   footer .foot-socials a.linkedin {
    background-position:-38px -50px
   }
   footer .foot-socials a.linkedin:hover {
    background-color:#1b86bd
   }
   footer .foot-socials a.telegram {
    background:#353535 url(https://www.simplilearn.com/ice9/assets/telegram_logo.svgz) no-repeat;
    background-position:6px 9px;
    border-radius:50%
   }
   footer .foot-socials a.telegram:hover {
    background-color:#1b86bd
   }
   footer .foot-socials a.insta {
    background-image:none
   }
   footer .foot-socials a.insta span {
    display:inline-block;
    width:20px;
    height:20px;
    background:url(https://www.simplilearn.com/ice9/assets/footer_sprite.svgz) no-repeat;
    background-position:-92px -18px;
    position:relative;
    top:6px;
    left:6px
   }
   footer .foot-socials a.insta:hover {
    background-image:radial-gradient(circle at 23% 84%, #f9ed32, #f8d939 5%, #f5a54d 17%, #f0536c 33%, #ee2a7b 40%, #9e2aa7 56%, #5b2acd 72%, #2a2ae8 85%, #0b2af9 95%, #002aff)
   }
   footer .footer-disc {
    text-align:center;
    padding-bottom:15px
   }
   footer .footer-disc a {
    width:185px;
    display:block;
    color:#ccc;
    margin:0 auto;
    font-size:14px;
    font-weight:300;
    border:1px solid #777;
    line-height:32px;
    border-radius:5px 5px 0px 0px;
    padding:7px 0
   }
   footer .footer-disc a:hover {
    background:#000
   }
   footer .footer-disc a:before {
    content:"";
    width:24px;
    height:24px;
    display:inline-block;
    background:url(https://www.simplilearn.com/ice9/assets/footer_sprite.svgz) no-repeat;
    float:left;
    position:relative;
    left:12px;
    top:5px;
    background-position:-18px -19px
   }
   footer .footer-disc a.ios-app {
    border-top:0;
    border-radius:0 0 5px 5px
   }
   footer .footer-disc a.ios-app:before {
    background-position:-54px -19px
   }
   .simpli_terms {
    padding:0;
    text-align:center
   }
   .simpli_terms li {
    padding:0;
    list-style:none;
    display:inline-block
   }
   .simpli_terms li a {
    padding:0 3px;
    font-size:14px;
    color:rgba(255,255,255,0.5)
   }
   .simpli_terms li h2 {
    color:rgba(255,255,255,0.5);
    font-size:12px;
    font-weight:400;
    margin-top:0
   }
   .simpli_terms .copy_rights {
    display:block;
    color:rgba(255,255,255,0.5);
    font-size:12px;
    font-weight:400
   }
   .resource-page .simpli_terms li:nth-of-type(4)::after {
    display:none
   }
   .resource-page .simpli_terms li#footer-country {
    display:block
   }
   .disc-section#disclaimers {
    background:#1a1a1a;
    border-top:0
   }
   .container.disclam-container {
    padding-top:30px;
    padding-bottom:70px
   }
   .container.disclam-container ul {
    margin-left:20px;
    margin-right:20px;
    list-style:none;
    padding:0
   }