#fullmaster{
margin-right: 5%;
margin-left: 5%;
text-align: start;
color: black;
}
#fullmaster h3,#fullmaster p{
    margin-left: 5.2%;
}
.master-cards {
    display:inline-block;
    
    width: 100%;
    height:100%;
    border-radius:6px;
    box-shadow:20 22px 5px 0 rgba(17,121,239,0.15);
    border:1px solid #e6ecef;
    overflow:hidden;
    
    margin-right: 20px;
    transition:all 0.5s ease
   }
   div.flex-container{
    height: 450px;
    display: flex;
    overflow: scroll;
    margin-right: 0px;
    padding: 0px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    scrollbar-width: thin;
}

div.divtwo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 339px;
    min-width: 389px;
    height: 300px;
}
   
.master-cards:hover {
    
    box-shadow:0 2px 20px 0 rgba(17,121,239,0.2)
   }
   
.img_th_bundles {
    height:70px;
    padding-left:15px
   }
   .img_th_bundles span {
    width:75px;
    height:80px;
    display:inline-block;
    background:url(https://www.simplilearn.com/ice9/assets/home/sprite_v2.svgz) no-repeat;
    background-position:-113px -53px;
    position:relative;
    top:16px
   }
   .bundle-infos {
    padding:32px 15px 16px 15px
   }
   .bundle-infos h4 {
    font-size:16px;
    font-weight:700;
    line-height:1.5;
    color:#272c37
   }
   .bundle-infos h4 div {
    font-size:16px;
    font-weight:700;
    line-height:1.5;
    color:#272c37
   }
   .bundle-infos .info {
    margin-top:16px;
    color:#51565e;
    margin-bottom:10px;
    display:inline-block;
    background-color: yellow;
    width:100%
   }
   .bundle-infos .infos span {
    display:inline-block;
    line-height:normal;
    padding-left:25px;
    position:relative;
    font-size:14px
   }
   .bundle-infos .infos span::before {
    content:"";
    width:14px;
    height:14px;
    display:inline-block;
    position:absolute;
    top:1px;
    left:0;
    background:url(https://www.simplilearn.com/ice9/assets/home/sprite_v2.svgz) no-repeat;
    background-position:-84px -21px
   }
   .bundle-infos .infos span:nth-child(2) {
    margin-left:15px;
    padding-left:40px
   }
   .bundle-infos .infos span:nth-child(2)::before {
    background-position:-50px -20px;
    left:15px
   }
   .bundle-infos .infos span:nth-child(2)::after {
    display:inline-block;
    content:"";
    width:1px;
    height:16px;
    position:absolute;
    left:0;
    background:#d2d6de
   }
   .bundle-infos p {
    font-size:14px;
    color:#51565e;
    margin-top:14px;
    padding-left:25px;
    line-height:normal;
    position:relative
   }
   .bundle-infos p b {
    font-weight:700
   }
   .bundle-infos p::before {
    content:"";
    width:14px;
    height:14px;
    display:inline-block;
    position:absolute;
    top:1px;
    left:0;
    background:url(https://www.simplilearn.com/ice9/assets/home/sprite_v2.svgz) no-repeat;
    background-position:-18px -21px
   }
   @media (min-width: 1200px) {
    .bundle-infos {
     padding:32px 25px;
     padding-bottom:16px
    }
    .bundle-infos h4 {
     font-size:18px;
     line-height:1.44
    }
    .bundle-infos h4 div {
     font-size:18px;
     line-height:1.44
    }
    .bundle-infos .info {
     margin-bottom:8px
    }
    .bundle-infos .info span {
     font-size:16px
    }
    .bundle-infos p {
     margin-top:16px;
     font-size:14px
    }
   }
   .grds-1 {
       
    background:#ff5d63;
    background-image:radial-gradient(circle at 28% 36%, #ff9195, #ff5d63 66%)
   }

 

   div.flex-container::-webkit-scrollbar-track
   {
       
       background-color: #F5F5F5;
   }
   
   div.flex-container::-webkit-scrollbar
   {
       
       background-color: #ffffff;
       max-height: 3px;
       max-width: 1px !important;
    }
   
   div.flex-container::-webkit-scrollbar-thumb
   {    width: 1px !important;
    max-height: 3px;
    border-radius: 0%;
       background-color: rgb(31, 119, 190);	
       background-image: -webkit-linear-gradient(90deg,
                                                                                          transparent 50%,
                                                 rgba(252, 252, 252, 0.2) 50%,
                                                 rgb(255, 255, 255) 75%,
                                                 transparent 75%,
                                                 transparent)
                                                 rgb(255, 255, 255) 25%,
                                                 transparent 25%,
       
   
                                                }
